language: php

php:
    - 7.0
    - 7.1

sudo: false

cache:
    directories:
        - $HOME/.composer/cache

install:
    - composer install --dev

script:
    - vendor/bin/phpunit
    - vendor/bin/phpcs -n src tests
