<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    colors="true"
    bootstrap="tests/bootstrap/autoload.php"
    backupGlobals="false">

    <testsuite name="unit tests">
        <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="command tests">
        <directory>tests/Command</directory>
    </testsuite>
    <testsuite name="generator tests">
        <directory>tests/Generator</directory>
    </testsuite>
</phpunit>
