body {
    margin:0;
}

#blog-header {
    font-size: 32pt;
    margin-bottom: 20px;

}

#blog-title a{
    color:#000000;
    text-decoration:none;
}

#blog-title a:hover{
    color:#000000;
    text-decoration:underline;
}

#blog-main {
    padding-left: 0px;
    padding-right: 0px;
}

/*  pager setting   */
.pager .prev_link a {
    margin-left: 10px;
    float: left;
}
.pager .next_link a {
    margin-right: 10px;
    float: right;
}

.pager .newer_link a {
    margin-left: 10px;
    float: left;
}
.pager .older_link a {
    margin-right: 10px;
    float: right;
}

#blog-side {
    padding-top: 5px;
}

#blog_recent {
    margin-top: 10px;
    padding-top: 10px;
}

ul#recent_list {
    padding-top: 10px;
    margin-left: 0px;
    padding-left: 0px;
}

#recent_list li {
    margin-left: 0px;
    padding: 10px 0px 10px 10px;
    border-top:  1px dotted black;
    list-style-type: none;
}

#recent_list li:last-child{
    padding: 10px 0px 0px 10px;
}

#recent_list li a {
    color:#000000;
    text-decoration:none;
}

#recent_list li a:hover{
    color:#000000;
    text-decoration:underline;
}

#page-contents {
    margin-bottom: 25px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

#page-contents img{
    max-width: 100%;
}
