ul#tag_list {
    margin-left: 0px;
    padding-left: 0px;
}
#tag_list li {
    margin-left: 0px;
    padding: 10px 0px 10px 10px;
    border-bottom:  1px dotted #CCC;
    list-style-type: none;
}
#tag_list li:first-child{
    border-top:  1px dotted #CCC;
}

#tag_list li a {
    color:#000000;
    text-decoration:none;
}

#tag_list li a:hover{
    color:#000000;
    text-decoration:underline;
}
