.article {
    margin-bottom: 100px;
    padding: 0px 5px 5px 5px;
    border-bottom: solid 1px #a7a7a7;
}

.article table {
    border-width: 1px 0px 0px 1px;
    border-color: #888;
    border-style: solid;
}

.article table td, .article table th {
    border-width: 0px 1px 1px 0px;
    border-color: #888;
    border-style: solid;
    padding: 10px;
}

.article img {
    max-width: 100%;
}

.article-title a{
    color:#000000;
    text-decoration:none;
}

.article-title a:hover{
    color:#000000;
    text-decoration:underline;
}

.article-contents {
    padding: 5px;
}

.article-tags {
    padding-top: 5px;
    padding-left: 0px;
}

.article-tags li {
    display: inline-block;
    border-bottom: solid 1px #b5b5b5;
    padding-bottom: 0px;
}

.article-tags li:first-child {
    border-left: none;
}

.article-tags li a {
    color: #b5b5b5;
    text-decoration: none;
}

.article-tags li a:hover {
    color: #b5b5b5;
    text-decoration: none;
}

.article-date {
    color: white;
    padding: 0px 5px;
    background-color: orange;
}
