{% extends "base/main.twig" %}

{% block title %}{{article.title}} - {{maker.config('title')}}{% endblock %}

{% block main_block %}
    {% include 'base/article.twig' %}
    <ul class = "pager">
        {% set newer_link = article.newer_link %}
        {% set older_link = article.older_link %}
        {% if not newer_link is empty %}
            <li class = "newer-link"><a href = "{{newer_link}}">&larr; Newer</a></li>
        {% endif %}
        {% if not older_link is empty %}
            <li class = "older-link"><a href = "{{older_link}}">Older &rarr;</a></li>
        {% endif %}
    </ul>
{% endblock %}
