{% extends 'base/main.twig' %}

{% block main_block %}
    {% for article in maker.getNewestArticle(maker.theme_config.noapp) %}
        {% include 'base/article.twig' %}
    {% endfor %}
    {% if maker.existsNextArticlePage(1, maker.noapp) > 0 %}
        <ul class = "pager">
            <li class = "next_link"><a href = "/page/2">Next &rarr;</a></li>
        </ul>
    {% endif %}
{% endblock %}
